*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 64px;
}


#container{
    width: 100%;
    max-width: 960px;
    margin: auto;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 24px;
}

h2 {
    margin-bottom: 24px;
}

ul.enumeration {
    padding: 0;
}

ul.enumeration > li {
    list-style-type:none;
    background-color: #FAFAFA;
    padding: 8px;
    margin-bottom: 4px;
}

ul.enumeration > li > a {
    color: #1A2530;
    text-decoration: none;
}

ul.enumeration > li > a:hover {
    color: #34495E;
}

ul.enumeration > li > a:visited {
    color: #334D5C;
}

.topics {
    display: flex;
    flex-wrap: wrap;
}

.topics > div {
    flex-grow:1;
    width: 50%;
    padding: 4px;
}

.topics > div > h4 {
    text-align: center;
}


@media screen and (max-width: 800px) {

    .topics {
        display:block;
    }
    
    .topics > div {
        width: 100%;
        display: block;
    }
    

}